spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        jdbc:
          time_zone: UTC
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USER}
    password: ${MAIL_PASS}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
            redirect-uri: "{baseUrl}/auth/google/callback"
        provider:
          google:
            issuer-uri: https://accounts.google.com
jwt:
  secret: ${SECRET_KEY}
  lifetime: 7d
server:
  port: 80
smsCode:
  lifetime: 30m
user-service:
  create-url: ${USER_CREATE_URL}
  create-from-google-url: ${USER_CREATE_FROM_GOOGLE_URL}
  remove-url: ${USER_REMOVE_URL}
  password: ${USER_SERVICE_PASS}
